/* navbar style */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/julietta-messie');

.container-fluid{
    padding: 0% 12%;
}

.sletterfont{
    font-family: 'Julietta Messie', sans-serif;
    color: white;
    font-size: 4.5rem;
}


.olacefont{
    color: #1EA554;
    font-size: 2rem;
    font-family: 'Jost', sans-serif;
}


.navbar{
    padding: 0;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    color: white;
}

.noHover{
    pointer-events: none;
}

#footer {
    background-color: #fff;
}

.social-icon {
    margin: 20px 30px;
    color: white;
    font-size: 2rem;
  }

.container-fluid-footer{
    padding: 5% 15%;
    background-color: #1D2529;
    text-align: center;
}