@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@500&display=swap");
body {
  color: #ffffff;
  background-color: #000000;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

nav .black {
  background-color: #000000;
}

.landing {
  height: 96vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 'img1 img2 img3'
 'war war war'
 'img4 img5 img6';
  place-content: center;
  padding: 2vh 5vw;
  -webkit-column-gap: 4vw;
          column-gap: 4vw;
  background-image: url("../templates/index.html");
  background-position: auto;
  background-size: cover;
  background-attachment: fixed;
}

.landing img {
  height: 150px;
  width: 300px;
  opacity: 0.5;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.landing img:hover {
  -webkit-filter: blur(0);
          filter: blur(0);
  height: 250px;
  width: 500px;
  opacity: 1;
}

.landing .img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
  place-self: end center;
}

.landing .img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.landing .img3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img3;
  place-self: end center;
}

.landing .img4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img4;
  place-self: start center;
}

.landing .img5 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: img5;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.landing .img6 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: img6;
  place-self: start center;
}

.landing .war {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: war;
  font-size: 14rem;
  place-self: center;
  color: #fffefe;
  font-family: 'Maitree', serif;
}

.landing .war:hover {
  color: #e42525;
}

.WOF {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 10vh 5vw;
}

.WOF span {
  font-size: 3rem;
  padding-top: 15%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.WOF img {
  width: 60%;
  height: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100vw;
}

.title .text {
  font-size: 4rem;
  text-align: center;
  width: 20vw;
}

.title .line {
  width: 40vw;
}

.title .line img.img1 {
  width: 25%;
  float: right;
}

.title .line img.img2 {
  width: 25%;
  float: left;
}

.news {
  height: 200vh;
  width: 90vw;
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
  display: -ms-grid;
  display: grid;
      grid-template-areas: '. i3 a3'
 'i4 a4 .'
 '. a5 i5';
  -ms-grid-rows: 0.5fr 0.5fr 0.5fr;
      grid-template-rows: 0.5fr 0.5fr 0.5fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  border-top: #555353 solid 4px;
}

.news img {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.news iUp {
  z-index: 3;
}

.news iDown {
  z-index: -3;
}

.news div.center {
  border-left: #555353 solid 4px;
  border-right: #555353 solid 4px;
  height: 100%;
  width: 100%;
}

.news div.left {
  border-left: #555353 solid 4px;
}

.news div.right {
  border-right: #555353 solid 4px;
}

.news div.img1 {
  grid-area: i1;
}

.news div.img2 {
  grid-area: i2;
  position: relative;
}

.news div.img2 img {
  position: absolute;
  height: 80%;
  left: -8vw;
  top: 8vh;
}

.news div.img3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: i3;
  position: relative;
  filter: grayscale(100%);
}

.news div.img3 img {
  height: 65%;
  width: 100%;
  right: -8vw;
  top: 2vh;
}

.news div.img4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: i4;
  filter: grayscale(100%);
}

.news div.img4 img {
  height: 65%;
  width: 100%;
  right: -8vw;
}

.news div.img5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: i5;
  filter: grayscale(100%);
}

.news div.img5 img {
  height: 80%;
  left: -8vw;
  top: 2vh;
}

.news div {
  width: 100%;
  height: 100%;
}

.news div span {
  color: #D02424;
}

.news .ab {
  font-size: 2.5rem;
}

.news .about1 {
  grid-area: a1;
}

.news .about2 {
  grid-area: a2;
}

.news .about3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a3;
}

.news .about4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: a4;
}

.news .about5 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: a5;
}

/* navbar style */
.container-fluid {
  padding: 0% 12%;
}

.navbar {
  padding: 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: white;
}


.noHover {
  pointer-events: none;
}

#footer {
  background-color: #fff;
}

.social-icon {
  margin: 20px 30px;
  color: white;
  font-size: 2rem;
}

.container-fluid-footer {
  padding: 5% 15%;
  background-color: #1D2529;
  text-align: center;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #999;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 100;
}

#popup {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  background: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: -100px;
  /*Half the value of width to center div*/
  margin-top: -100px;
  /*Half the value of height to center div*/
  z-index: 200;
}

#popupclose {
  float: right;
  padding: 10px;
  cursor: pointer;
}

.popupcontent {
  padding: 10px;
}

#button {
  cursor: pointer;
}

.donations {
  position: relative;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 2em;
  max-width: 400px;
  margin: 10em auto;
  background: white;
  overflow: hidden;
  color: #000000;
}

.donations__progress-bar {
  background: orange;
  height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3D(-100%, 0, 0);
          transform: translate3D(-100%, 0, 0);
  width: 100%;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.donations__progress {
  text-align: center;
}

.donations__text {
  margin-bottom: 1em;
  line-height: 1.5;
}

.donations__donors {
  font-weight: bold;
}

.donations__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.3em;
}

.donations__input,
.donations__submit,
.donations__reset {
  font-size: inherit;
  border: none;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  width: 45%;
  min-width: 100px;
  margin-bottom: 1em;
}

.donations__submit {
  background: #1cbc2c;
  color: white;
}

.donations__reset {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.donations__input {
  border: 1px solid #eee;
  padding-left: 1em;
}

.donations__input-icon {
  position: absolute;
  color: gray;
  line-height: 1.3;
  padding: 0.5em 0.3em;
  pointer-events: none;
}
/*# sourceMappingURL=homeStyle.css.map */