<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Solace</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Jost:wght@300&family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js">
    </script>
     <link rel="stylesheet" href="static/css/blogpage.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark black">

        <div class="container-fluid">

          <a class="navbar-brand noHover" href="#"><span class="sletterfont">S</span><span class="olacefont">OLACE</span></a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="collapsibleNavbar">


            <ul class="navbar-nav ms-auto">

              <li class="nav-item Hover">
                <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">HOME</a>
              </li>

              <li class="nav-item Hover">
                <a class="nav-link" href="{{url_for('search')}}">ESSENTIALS</a>
              </li>

              <li class="nav-item Hover">
                <a class="nav-link" href="{{url_for('trauma')}}">TRAUMA</a>
              </li>

              <li class="nav-item Hover">
                <a class="nav-link" href="{{url_for('blogs')}}">BLOGS</a>
              </li>

              <li class="nav-item Hover">
                <a class="nav-link" href="">CONTACT</a>
              </li>

              <li class="nav-item">
                <button id="button" type="button" class="btn btn-success">START A FUNDRAISER</button>
              </li>

              <li class="nav-item">
                <a href="{{url_for('chatbot')}}"><button type="button" class="btn btn-success">Chat with Us</button></a>
              </li>

            </ul>

          </div>

        </div>

    </nav>
  </header>
  <div class="container">
    <div class="grid-container">
        <map>
            <img class="respomap" src="static/images/mapvg.svg">
        </map>
        <section class="vid">
          <div class="el-elem">
              <a href="{{url_for('direct')}}">
              <video class="Fridge" width="450" controls>
                <source src="static/videos/Soldiers Doing Live Ammunition Training.mp4">
              </video>
            </a>
              <div class="words">
                <div class="grn">
                  Library in cherniv
                  <span>a prospering landmark that turns into a cater after a 500 kg bomb
                    hits it.</span>
                </div>
              </div>   
        </section>
        <section class="pla">
          <div class="el_elem1">
              <img class="second" src="static/images/last.png" alt="">
              <div class="words">
                <div class="grn">
                  Anti-war movement is a social movement,
                  <span>  usually in opposition to a particular nation's decision to start or carry on an armed conflict.</span>
                </div>
              </div>
            </div>
        </section>
        <section class="cof">
          <div class="el_elem2">
              <span><img class="third" src="static/images/sleepkido.png" alt=""></span>
              <div class="words">
                <div class="grn">
                  We suffered from illness
                  <span> due to inadequate food supply and trauma. The trapped British army evacuates to England from Dunkirk, France, surviving to fight another day.</span>
                </div>
              </div>
            </div>
        </section>
    </div>
</div>

  </body>
</html>

