<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Simple JavaScript Chatbot</title>
  <link rel="stylesheet" href="static/css/chatbot.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="output"></div>
      
<div id="container">
    <input type="text" id="input" value="">
</div>

<!-- jquery for enter key press -->      
<script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
<!-- partial -->
  <script  src="static/js/chatbot.js"></script>

</body>
</html>
