<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap link -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    
    <!-- CSS file link -->

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="hospitals.css">

    <!-- google fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Jost:wght@300&family=Montserrat:ital,wght@0,400;0,700;1,700&family=Poppins:wght@200&display=swap" rel="stylesheet">    
    
    <!-- title -->

    <title>Solace</title>

    <!-- font awesome -->

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>

</head>
<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container-fluid">

              <a class="navbar-brand noHover" href="#"><span class="sletterfont">S</span><span class="olacefont">OLACE</span></a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="collapsibleNavbar">


                <ul class="navbar-nav ms-auto">

                  <li class="nav-item noHover">
                    <a class="nav-link active" aria-current="page" href="./index.html">HOME</a>
                  </li>

                  <li class="nav-item noHover">
                    <a class="nav-link" href="./essential.html">ESSENTIALS</a>
                  </li>

                  <li class="nav-item noHover">
                    <a class="nav-link" href="./Menta.html">TRAUMA</a>
                  </li>

                  <li class="nav-item noHover">
                    <a class="nav-link" href="./pop.html">BLOGS</a>
                  </li>

                  <li class="nav-item noHover">
                    <a class="nav-link" href="#">CONTACT</a>
                  </li>

                  <li class="nav-item">
                    <button type="button" id ="button" class="btn btn-success">START A FUNDRAISER</button>
                  </li>

                </ul>

              </div>

            </div>

        </nav>
        <div id="overlay"></div>
<div id="popup">
    <div class="popupcontrols">
        <span id="popupclose">X</span>
    </div>
    <div class="popupcontent">
      <div class="donations">
        <div class="donations__progress-bar"></div>
        <h2 class="donations__progress">
          $<span class="donations__amount">0</span> / $75,000</h2>
        <div class="donations__text">
          Join the 
          <span class="donations__donors">55K</span>
          other donors who have already supported people iin war.
        </div>
        <form class="donations__form">
          <span class="donations__input-icon">$</span>
          <input class="donations__input" type="number" value="50" title="$"/>
          <input type="submit" id="Button" class="donations__submit" />
          <button class="donations__reset">Reset</button>
        </form>
      </div>
    </div>
</div>

    </header>

    <div class="textContainer">
      <p class="textsize">Search the nearest <span class="spot">spot</span> near you?</p>
    </div>

    <div class="textContainer">
      <button for="fname">First name:</button>
      <input type="text" id="fname" name="fname" size="50"><br><br>
      <button class="position1">Hospital</button>
      <button class="position2">Ngo</button>
      <button class="position3">Refugee Camp</button>
    </div>

    <div class="textContainer">
      <div class="divdimensions">
        <p class="hospitalposition textsize">Hospital</p>
        <p class="suppliesposition textsize">&nbspSupplies</p>
      </div>
    </div>

    <div class="hospital-container">
      <div>
      <img src="apollo.png">
      <h2 class="hospital-name">Apollo hospital</h2>
      <p class="hospital-info">Gujrat, Ahemdabad</p>
      </div>

      <div>
      <p class="beds-position textsize">42 Beds</p>
      <p class="beds-position textsize">52 Doctors</p>
      <p class="beds-position textsize">1 Ambulance</p>
      </div>

    </div>

    <footer id="footer">

        <div class="container-fluid-footer">

          <i class="social-icon fab fa-facebook-f"></i>
          <i class="social-icon fab fa-twitter"></i>
          <i class="social-icon fab fa-google"></i>
          <i class="social-icon fab fa-instagram"></i>
          <i class="social-icon fab fa-linkedin"></i>
          <i class="social-icon fas fa-envelope"></i>

        </div>

        <div class="text-center p-4" style="background-color: #13181B; color: white;">

        © 2021 Copyright 2022: SOLACE
          
        </div>
        
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="./hApp.js"></script>
</body>

</html>