{% include "header.html" %}

    <div class="landing">
      <img src="static/images/PIC1.jpg" alt="" class="img1" />
      <img src="static/images/PIC2.jpg" alt="" class="img2" />
      <img src="static/images/PIC3.jpg" alt="" class="img3" />
      <span class="war">WAR</span>
      <img src="static/images/PIC4.jpg" alt="" class="img4" />
      <img src="static/images/PIC5.jpg" alt="" class="img5" />
      <img src="static/images/PIC6.jpg" alt="" class="img6" />
    </div>
    <div class="WOF">
      <span>"Better to live in peace than to start a war and lie dead."</span>
      <img src="static/images/WOF.svg" alt="" srcset="" />
    </div>
    <div class="title">
      <div class="line"><img class="img1" src="static/images/LINE.svg" alt="" srcset="" /></div>
      <div class="text">News Feed</div>
      <div class="line"><img class="img2" src="static/images/LINE.svg" alt="" srcset="" /></div>
    </div>
    <br />
    <div class="news">
      <div class="ab about3">Battle and Bloodshed: The Medieval World at War</div>
      <div class="center img3">
        <img src="static/images/PIC1.jpg" alt="" class="img3" />
      </div>
      <div class="center ab about4">
        Battle and Bloodshed: The Medieval World at War
      </div>
      <div class="img4">
        <img src="static/images/PIC1.jpg" alt="" class="img4" />
      </div>
      <div class="center ab about5">
        Battle and Bloodshed: The Medieval World at War
      </div>
      <div class="img5">
        <img src="static/images/PIC1.jpg" alt="" class="img5" />
      </div>
    </div>



{% include "footer.html" %}