<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap link -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


    <!-- CSS file link -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/Mstyle.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/direct.css') }}">

    <!-- google fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Jost:wght@300&family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">

    <!-- title -->

    <title>Solace</title>

    <!-- font awesome -->

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>

</head>
<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark black">

            <div class="container-fluid">

              <a class="navbar-brand noHover" href="#"><span class="sletterfont">S</span><span class="olacefont">OLACE</span></a>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="collapsibleNavbar">


                <ul class="navbar-nav ms-auto">

                  <li class="nav-item Hover">
                    <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">HOME</a>
                  </li>

                  <li class="nav-item Hover">
                    <a class="nav-link" href="{{url_for('search')}}">ESSENTIALS</a>
                  </li>

                  <li class="nav-item Hover">
                    <a class="nav-link" href="{{url_for('trauma')}}">TRAUMA</a>
                  </li>

                  <li class="nav-item Hover">
                    <a class="nav-link" href="{{url_for('blogs')}}">BLOGS</a>
                  </li>

                  <li class="nav-item Hover">
                    <a class="nav-link" href="">CONTACT</a>
                  </li>

                  <li class="nav-item">
                    <button type="button" class="btn btn-success">START A FUNDRAISER</button>
                  </li>

                  <li class="nav-item">
                    <a href="{{url_for('chatbot')}}"><button type="button" class="btn btn-success">Chat with Us</button></a>
                  </li>

                </ul>

              </div>

            </div>

        </nav>

    </header>
<!---FRONT------>
<div class="container-fluid">
<img class="float-sm-md-end img-fluid FronDoc" src="static/images/FrontDoc.jpg" alt="">
<div class="container-fluid">
  <p class="texti ">Do seek help<br>when in need</p>
</div>
<div class="container my-4 appoint">
  <div class="row">
    <div class="col">
      <div class="input-group width-15px">
        <input type="text" class="form-control text-center rounded-0 width-15px" style="color:black;" placeholder="Phone number/Email" >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary dropdown-toggle rounded-0 " style="color:white;" type="button" data-toggle="dropdown" >Appointment type</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">January</a>
            <a class="dropdown-item" href="#">February</a>
            <a class="dropdown-item" href="#">March</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-lg book" type="button" name="button">Book Now</button>
</div>
<!--RESIDENTIAL Services--->
<div class="container-fluid ">
<h2 class="Resi">Residential <br>Services</h2>
<section class="part5 container ">
  <div class="container group1">

    <div class="item item1" style="border: 1vw solid transparent;
    border-image-slice: 10%;
     border-image: url('static/images/leaf.png') 12 stretch;">
    <pre><span style="color:#1EA554; font-size:1.3rem;"><b>Child Counselling</b></span>
Consult with only female
doctors,and receive care
from female nurses
in a safe environment</pre></div>
    <div class="item item2 " style="border: 1vw solid transparent;
    border-image-slice: 10%;
     border-image: url('static/images/leaf.png') 12 stretch;"><pre><span style="color:#1EA554; font-size:1.3rem;"><b>Women Care</b></span>
Consult with only female
doctors,and receive care
from female nurses
in a safe environment</pre></div>
    <div class="item item3 " style="border: 1vw solid transparent;
    border-image-slice: 10%;
     border-image: url('static/images/leaf.png') 12 stretch;"><pre><span style="color:#1EA554; font-size:1.3rem;"><b>Shelter</b></span>
Consult with only female
doctors,and receive care
from female nurses
in a safe environment</pre></div>
  </div>
  <div class="container group2">
    <div class="item item4" style="border: 1vw solid transparent;
    border-image-slice: 10%;
     border-image: url('static/images/leaf.png') 12 stretch;"><pre><span style="color:#1EA554; font-size:1.3rem;"><b>Physiatry</b></span>
Consult with only female
doctors,and receive care
from female nurses
in a safe environment</pre></div>
    <div class="item item5" style="border: 1vw solid transparent;
    border-image-slice: 10%;
     border-image: url('static/images/leaf.png') 12 stretch;"><pre><span style="color:#1EA554; font-size:1.3rem;"><b>Deaddiction</b></span>
Consult with only female
doctors,and receive care
from female nurses
in a safe environment</pre></div>
    <div class="item item6" style="border: 1vw solid transparent;
    border-image-slice: 10%;
     border-image: url('static/images/leaf.png') 12 stretch;"><pre><span style="color:#1EA554; font-size:1.3rem;"><b>Child Counselling</b></span>
Consult with only female
doctors,and receive care
from female nurses
in a safe environment</pre></div>
  </div>
</section>
</div>
<!--Patient care---->
<div class="container-fluid ">
<h2 class="Patient">Patient Care <br>Services</h2>
<section class="part5 container ">
  <div class="container group10">
    <div class="ite item11" style="border: 1vw solid transparent;
    border-image-slice: 10%;
     border-image: url('static/images/leaf.png') 12 stretch;"><pre><span style="color:#1EA554; font-size:1.3rem;"><b>Child Counselling</b></span>
Consult with only female
doctors,and receive care
from female nurses
in a safe environment</pre></div>
    <div class="ite item21 " style="border: 1vw solid transparent;
    border-image-slice: 10%;
     border-image: url('static/images/leaf.png') 12 stretch;"><pre><span style="color:#1EA554; font-size:1.3rem;"><b>Child Counselling</b></span>
Consult with only female
doctors,and receive care
from female nurses
in a safe environment</pre></div>
    <div class="ite item31 " style="border: 1vw solid transparent;
    border-image-slice: 10%;
     border-image: url('static/images/leaf.png') 12 stretch;"><pre><span style="color:#1EA554; font-size:1.3rem;"><b>Child Counselling</b></span>
Consult with only female
doctors,and receive care
from female nurses
in a safe environment</pre></div>
  </div>
  <div class="container group20">
    <div class="ite item41" style="border: 1vw solid transparent;
    border-image-slice: 10%;
     border-image: url('static/images/leaf.png') 12 stretch;"><pre><span style="color:#1EA554; font-size:1.3rem;"><b>Child Counselling</b></span>
Consult with only female
doctors,and receive care
from female nurses
in a safe environment</pre></div>
    <div class="ite item51" style="border: 1vw solid transparent;
    border-image-slice: 10%;
     border-image: url('static/images/leaf.png') 12 stretch;"><pre><span style="color:#1EA554; font-size:1.3rem;"><b>Child Counselling</b></span>
Consult with only female
doctors,and receive care
from female nurses
in a safe environment</pre></div>
    <div class="ite item61" style="border: 1vw solid transparent;
    border-image-slice: 10%;
     border-image: url('static/images/leaf.png') 12 stretch;"><pre><span style="color:#1EA554; font-size:1.3rem;"><b>Child Counselling</b></span>
Consult with only female
doctors,and receive care
from female nurses
in a safe environment</pre></div>
  </div>
</section>
</div>
<!--Consult Chamber-->


<!---Doc------>
<div class="container-fluid ">
<h2 class="staff">Our Staff</h3>
<p class="container-fluid team ">With a team of experienced doctors led by our Resident Director - Dr Sameer Kalani, we can assure you that everybody is in good hands here. With an emphasis on relaxation and restoration of your mental well-being, we have a clinical team of psychiatrists, clinical psychologists, counselling psychologists, visiting consultants, general physicians, art therapists and fitness therapists.</p>
</div>
<!---Carousel---->
<div class="container-fluid ">
  <div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner ">
      <div class="carousel-item active">

      <img src="static/images/doc1.png" alt="Los Angeles" class="d-block mid flo" style="width:30vw; ">  </div>
      <div class="carousel-item">
        <img src="static/images/doc2.png" alt="Chicago" class="d-block mid flo" style="width:30vw;">
      </div>
      <div class="carousel-item">
        <img src="static/images/doc3.png" alt="New York" class="d-block mid flo" style="width:30vw;">
      </div>
      <div class="carousel-item">
        <img src="static/images/doc4.png" alt="New York" class="d-block mid flo" style="width:30vw; ">
      </div>
    </div>


  </div>


</div>
<div class="container-fluid " style="font-family: 'Muli', sans-serif;
    background-color: black;">
<h1>Frequently Asked Questions</h1>
   <div class="faq-container">
       <div class="faq ">
           <h3 class="faq-title">
              How do I find which expert to consult ?
           </h3>

           <p class="faq-text">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non rutrum justo.
           </p>

           <button class="faq-toggle">
               <i class="fas fa-chevron-down"></i>
               <i class="fas fa-times"></i>
           </button>
       </div>

       <div class="faq">
           <h3 class="faq-title">
              Who has access to my medical information?
           </h3>
           <p class="faq-text">
             Vivamus id quam ultrices, viverra ante in, tincidunt nulla. Sed turpis magna, laoreet at malesuada a, fermentum vel leo.
           </p>
           <button class="faq-toggle">
               <i class="fas fa-chevron-down"></i>
               <i class="fas fa-times"></i>
           </button>
       </div>

       <div class="faq">
           <h3 class="faq-title">
               Where I should  Get help?
           </h3>
           <p class="faq-text">
              Donec efficitur a lacus et faucibus. Sed eleifend semper ligula, at porttitor lorem interdum non.
           </p>
           <button class="faq-toggle">
               <i class="fas fa-chevron-down"></i>
               <i class="fas fa-times"></i>
           </button>
       </div>

       <div class="faq">
           <h3 class="faq-title">
              How I should book the appointment?
           </h3>
           <p class="faq-text">
             Maecenas vel justo metus. Nullam volutpat blandit sem, id fermentum lectus tempor sit amet.
           </p>
           <button class="faq-toggle">
               <i class="fas fa-chevron-down"></i>
               <i class="fas fa-times"></i>
           </button>
       </div>

       <div class="faq">
           <h3 class="faq-title">
               What should I expect from my first consultation?
           </h3>
           <p class="faq-text">
              Pellentesque scelerisque dictum quam id tempus. Maecenas eget blandit augue.
           </p>
           <button class="faq-toggle">
               <i class="fas fa-chevron-down"></i>
               <i class="fas fa-times"></i>
           </button>
       </div>
   </div>
 </div>
<!--FOOTER---->
{% include "footer.html" %}
